<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#092327">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
	<link rel="manifest" href="manifest.json">
	<title>Vue the Cryptos</title>
	<link rel="stylesheet" href="critical.css">

</head>

<body style="background-color:#092327">
	<h2 style="text-align:center"><img src="favicon-32x32.png" alt="">ue the Cryptos</h2>
	<p style="text-align:center"><i>Real-time data on the Top 10 cryptocurrencies by marketcap</i></p>

	<div id="app" style="max-width:720px;margin: auto">

		<div v-for="coin in coins" class="tabs stacked">
			<input v-bind:id="coin.name+'2'" type="radio" name="accordion" aria-hidden="true">
			<label v-bind:for="coin.name+'2'" aria-hidden="true">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<p style="text-align:left">#{{ coin.rank }}</p>
						</div>
						<div class="col-sm-7">
							<p>
								<img v-bind:src="getCoinImage(coin.id)" v-bind:alt="coin.name">
								{{ coin.name }} 
								({{ coin.symbol }}) 
							</p>
						</div>
						<div class="col-sm-3">
							<p style="text-align:right">${{ coin.price_usd }}</p>
						</div>
					</div>
				</div>
			</label>
			<div class="container">
				<div class="row">
					<table>
						<thead>
							<tr>
								<th>Change 1h</th>
								<th>Change 24h</th>
								<th>Change 7d</th>
								<th>Market Cap (USD)</th>
								<th>More info</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-label='Change 1h' v-bind:style="getColor(coin.percent_change_1h)">
									<span v-if="coin.percent_change_1h > 0">+</span>{{ coin.percent_change_1h }}%
								</td>
								<td data-label='Change 24h' v-bind:style="getColor(coin.percent_change_24h)">
									<span v-if="coin.percent_change_24h > 0">+</span>{{ coin.percent_change_24h }}%
								</td>
								<td data-label='Change 7d' v-bind:style="getColor(coin.percent_change_7d)">
									<span v-if="coin.percent_change_7d > 0">+</span>{{ coin.percent_change_7d }}%
								</td>
								<td data-label='Market Cap (USD)'>${{ currencyConv(coin.market_cap_usd) }}</td>
								<td data-label='More info'>
									<a v-bind:href="getCoinLink(coin.id)">Full Stats</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<p style="text-align:center">
		<i>A learning experiment by 
		<a href="https://github.com/LiteSoul">LiteSoul</a>
		, on Progressive Web Apps, Vue.js, Static Site Generators & Browser loading optimization</i>
	</p>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
	<script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
	<script src="app.min.js"></script>
	<script src="call-sw.js"></script>
	<link rel="stylesheet" href="mini-dark.min.css">
</body>

</html>