<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#232e33">
	<link rel="icon" sizes="192x192" href="icon192x192.png">
	<link rel="manifest" href="manifest.json">
	<title>Vue the Cryptos</title>
	<link rel="stylesheet" href="mini-default.min.css">
	<!-- <link rel="stylesheet" href="https://gitcdn.link/cdn/Chalarangelo/mini.css/930b613d293f5cf02fe3f31efcadc7499b4f396f/dist/mini-pwa.min.css"> -->
	<!-- <link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://gitcdn.link/cdn/Chalarangelo/mini.css/930b613d293f5cf02fe3f31efcadc7499b4f396f/dist/mini-dark.min.css"> -->
	<!-- <link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://gitcdn.link/cdn/Chalarangelo/mini.css/930b613d293f5cf02fe3f31efcadc7499b4f396f/dist/mini-pwa.min.css"> -->
</head>

<body>
	<h3>Vue the Cryptos</h3>
	<p>- Real-time data on the Top 10 cryptocurrencies by marketcap -</p>

	<div id="app">

		<div v-for="coin in coins" class="tabs stacked">
			<input v-bind:id="coin.name+'2'" type="radio" name="accordion" aria-hidden="true">
			<label v-bind:for="coin.name+'2'" aria-hidden="true">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<p style="text-align:left">#{{ coin.rank }}</p>
						</div>
						<div class="col-sm-7">
							<p>
								<img v-bind:src="getCoinImage(coin.id)" v-bind:alt="coin.name">
								{{ coin.name }} 
								({{ coin.symbol }}) 
							</p>
						</div>
						<div class="col-sm-3">
							<p style="text-align:right">${{ coin.price_usd }}</p>
						</div>
					</div>
				</div>
			</label>
			<div class="container">
				<div class="row">
					<table>
						<thead>
							<tr>
								<th>Change 1h</th>
								<th>Change 24h</th>
								<th>Change 7d</th>
								<th>Market Cap (USD)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-label='Change 1h' v-bind:style="getColor(coin.percent_change_1h)">
									<span v-if="coin.percent_change_1h > 0">+</span>{{ coin.percent_change_1h }}%
								</td>
								<td data-label='Change 24h' v-bind:style="getColor(coin.percent_change_24h)">
									<span v-if="coin.percent_change_24h > 0">+</span>{{ coin.percent_change_24h }}%
								</td>
								<td data-label='Change 7d' v-bind:style="getColor(coin.percent_change_7d)">
									<span v-if="coin.percent_change_7d > 0">+</span>{{ coin.percent_change_7d }}%
								</td>
								<td data-label='Market Cap (USD)'>${{ currencyConv(coin.market_cap_usd) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
	<script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
	<script src="app.min.js"></script>
	<script src="call-sw.js"></script>
</body>

</html>